<div class="col-sm-12 col-lg-6 d-flex flex-column justify-content-between">
    <div class="produit3">
        <img src="/assets/img/{{ product.picture }}" class="produit img-fluid "  alt="produit"> 
        <div class="margbloc1">
            <h4><a href="{{ path('view_product', {'id' : product.id}) }}">{{ product.name }}</a></h4>
            <p>{{ product.getShortDescription|slice(0, 100) ~ '…'}}</p>
        </div>
    </div> 
    <div>
        <input type="button" class="btn btn-outline-secondary" value="DECOUVRIR">
    </div>
</div>
