.welcome{
    background-color: #fce9e9;
    border-bottom: 1px solid black;
}

.welcomeText{
    margin: 0 auto 4px auto;
    padding: 30px 0 0 0;
}

.welcome h4{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.passageSouris:nth-child(1) > div:nth-child(1) {
    border-right: 1px solid black;
}


.boxclaire{
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    cursor: text;
}



.passageSourisTitle:nth-child(2n){
    min-height: 481px;
}



.passageSouris:hover{
    background-color: #fff5f5;
    border-top: 1px solid white;
    /* cursor: pointer; */
    -webkit-transition: background-color .50s ease-out;
    -moz-transition: background-color .50s ease-out;
    -o-transition: background-color .50s ease-out;
    transition: background-color .50s ease-out;
}
.passageSourisTitle{
    margin-top: 30px;
}

.btnNew, .disconnect .btn{
    min-height: 50px;
    width: 100%;
    background-color: black;
    border-color: #6c757d;
    color: white;
    margin: 20px auto 30px auto;
}

.btnNew:hover, .disconnect .btn:hover{
    color: white;
    background-color: rgb(63, 61, 61);
}

/* .trait{
    border-right: 1px solid black;
    margin-top: 25px;
    margin-bottom: 25px;
} */


.valuesConnect{
    margin-top: 0;
}


.disconnect{
    margin: 40px auto;
}

.disconnect .btn{
    background-color: black;
    border-color: #6c757d;
    height: 38px;
    color: white;
    margin-top : 30px;
}

/* AVANT CSS ELISE
.disconnect{
    margin: 40px auto;
}

.disconnect .btn{
    background-color: black;
    border-color: #6c757d;
    height: 38px;
    color: white;
    margin-top : 30px;
}


.disconnect .btn:hover{
    background-color: white;
    border-color: #6c757d;    
    color: black;

} */