
/* @import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700,700i&display=swap'); */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i&display=swap');

body{
    font-family: 'Crimson Text', Arial, Helvetica, monospace;
}


.full-container{
    width: 100%;
}
 #actu1{
margin-left: 0px;
padding-left:0px;

}
.actualites{
    border-bottom: 1px solid black;
}

/* 1er navbar */

.cp-logo-container{
    text-align: center !important;
}
.cp-icone>img{
    display: inline-block;
    height: 40px;
    margin: 10px;
}

/*Navbarre*/


/*Search*/
.logo{
    padding-top: 5px;
    max-height: 55px;
}
.nav-item{
    padding-left: 0px;
}

.persobar .form-control, .form-control-lg{
    border-radius: 0px;
    height: 60px;
}

.persobar .form-control:focus{
    background-color: black;
    border-color: rgb(206, 212, 218);
    box-shadow: none;
}


i .loupe{
    height: 35px;
    width: auto;
}

.newsletter .content .form-control {
    background-color: white;
}

.input-group-text{
    background-color: transparent;
    background-color: black;
    border:black;
}

.input-group-append{
    background-color: black; 
}
.form-control-lg{

padding-left: 40px;
}

.cp-navbar2{
    border-top: 1px solid black;
}


/* .cp-cosmeplanet{
   /* padding-top: 10px;
   padding-bottom: 10px; * /
} */

.navbar{
    border-left: 1px solid black;
    max-height: 64px;
}
.navbar-ariane .breadcrumb-item + .breadcrumb-item::before {
    content: none; 
}

.breadcrumb {
 background-color: white;
 padding-top: 1rem!important;
 padding-bottom: 1rem!important;
 }

/* .navbar-ariane .breadcrumb-item.active {

 } */

.breadcrumb-item+.breadcrumb-item::before {
   content: "";
}

.navbar-ariane .breadcrumb {
     background: none;
 }

.navbar .logo>a>img{
    width: 200px;
    margin-left: 220px;
}

.navbar img,
.nav img{
     width: 1.2rem;
 }
.marge-nav {
    padding-left: 0px;;
}

.nav-border{
    border-bottom: 1px solid black;
    height: 65px;
}

a{
    text-decoration: none; 
    color: black; 
} 
.form-control{
    background-color: black; 
    border: black;
} 


 .face{
     width: 50px;
     margin-right: 10px;
     margin-top: -20px;
 }


 h4{
    font-size: 18px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

p{
    font-size: 14px;
    color : grey;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a:hover {
    text-decoration: underline;
    color: black;
}

.margebloc>h3{
 font-size: 40px;
 padding-bottom: 20px ;
 /* padding-top: 50px ; */
 }

h3{
    font-size: 35px;
    padding-bottom: 20px ;
}


.produit1{
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.produit1bis{
    padding-left: 15px;
}

.xxxxx{
    margin-right: 0px;
}




/* NOS ACTUALITES */

#actufleurs{
border-right: 1px solid black;
padding-right : 0px;
padding-left : 0px;
background-image: url("../img/actualites.png");
background-position: center;
background-size: cover;
}

#actufleurs img{
    width: 100%;
}
#actu4{
    padding-left: 0px;
}
    
.margebloc1{
    margin: 15px;
}
.margbloc1>h4{
    margin-top: 20px;
}


#fleurs{
    padding-left: -20px;

}
#actu2 .row-margin{
    margin-right: -29px;
    border-top: 1px solid black;

}

.actualites{
    margin-bottom: 20px;
}

#actu2{
    margin-top: 20px;
}
.margebloc{
    margin-right: 50px;
    margin-left: 50px;
}
#actu3>.margebloc{
    margin-right: 20px;
    margin-left: 20px;
}

img #fleurs{
    height: 100px;
}

/* input{
    background-color: white;
    border-style: 1px solid black!important;
} */

#actu3{
    padding-bottom: 20px;
    max-height: 414px;

}

.btn {
    border-radius: 0px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }

.btn-outline-secondary:hover {
color: black;
background-color: #ffffff;
border-color: #6c757d;
}

.produits{
    margin-top: 32px;
    border-top: 1px solid black;
    margin-left: 0px;
}

.produit1{
    max-width: 100%;
    height: 100%;  
}

.cardHP{
    padding-bottom: 20px;
}

.pushcard{
    margin-bottom: 40px;
}

.actu6{
    padding-right: 0px;
}

.mascara{
    border-left: 1px solid black;

}

.push{
    width: 100%;
    height: 85%;

}
.homepage .nosvaleurs{
    margin-top: 40px;
}



/* FOOTER */

footer{
    background-color: black;
}

.email{
    text-decoration: none; 
    color: white; 
} 
/* footer>a:hover{
    Color: grey;
  }

footer>a:visited{
    color: white;
  } */

.connaitre a{
    font-size: 14px;
    color : grey;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.connaitre a:hover{
    color : white;
    text-decoration: none;
}

.connaitre>ul>li>p{
    text-decoration: underline;
    text-decoration-color: grey;
    color: grey;
}

/* NEWSLETTER */

.newsletter-global{
    padding: 50px 0 60px 0;
}
/* .newsletter {
    padding: 80px 0;
    margin: 0 auto;
    } */
    
.newsletter .content {
    padding-top: 62px;
    /* max-width: 650px;
    position: relative;
    z-index: 2;  */
}
.newsletter .content h2 {
    color: #FFFFFF;
    margin-bottom: 40px; 
}
.newsletter .content .form-control {
    height: 50px;
    border-color:#000000;;
    border-radius:0;
}
.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #ffffff;
}
.newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: #ffffff;;
    color: #000000;
    font-weight:600;
}

footer p{
        color: grey;;
    }

footer h4{
        color: #FFFFFF;
        font-weight: 800;
        font-size: 18px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        padding-bottom: 15px;

    }


/* 
.logo-footer{
    padding-top: 50px;

} */

footer .reseau img{
    padding: 35px;


}

#reseaux{
    padding-top :50px;
} 

#reseaux>ul{
    padding-left: 0px;
} 

footer li{
    list-style: none;
    display: inline-block;
    line-height: 0.5 !important;
}

.nav-item li{
    list-style: none;
    margin: 0px;
    padding: 0px;

}
li{
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

/*Cheveux*/


.cheveux>img{
    width: 65px;
}
