<section class="container nosvaleurs mb-5">
    <div class="row">
        <div class="col-12">
            <h3>Les valeurs que nous partageons</h3>
        </div>
    </div>   

    <div class="row valeurs2">
        <div class="col-sm-6 col-lg-3">
            <div class="">
                <div class="picto text-center">
                    <img src="/assets/img/bio.png" alt="picto natural">
                </div>
                <h5 class="text-center">Bio <br>& local </h5>
            </div>                   
        </div> 

        <div class="col-sm-6 col-lg-3 ">
            <div class="">
                <div class="picto text-center">
                    <img src="/assets/img/delivery.png" alt="picto natural">
                </div>
                <h5 class="text-center">Livraison <br>douce</h5>
            </div>                   
        </div> 

        <div class="col-sm-6 col-lg-3">
            <div class="">
                <div class="picto text-center">
                    <img src="/assets/img/healthy.png" alt="picto natural">
                </div>
                <h5 class="text-center">Non nocif</h5>
            </div>                   
        </div> 


        <div class="col-sm-6 col-lg-3">
            <div class="">
                <div class="picto text-center">
                    <img src="/assets/img/homemade.png" alt="picto natural">
                </div>
                <h5 class="text-center">Fait à la <br>demande</h5>
            </div>                                  
        </div> 
    </div>           
</section>