{% extends 'base.html.twig' %}

{% block title %}Nos valeurs{% endblock %}

{# {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %} #}

{% block body %}

<section class="maintenance">
    <div class="container maint-box d-flex justify-content-center">
        <article class="maint-article">
            <h1>Page en construction</h1>
            <div>
                <button type="button" class="btn btn-primary "><a href="{{ path("product") }}">Découvrez tous nos produits</button></a>
                <button type="button" class="btn btn-primary "><a href="{{ path("homepage") }}">Homepage</button></a>

            </div>
        </article>
    </div>
</section>


{% endblock %}





