{# {% extends 'base.html.twig' %} #}
{% form_theme connectionForm 'bootstrap_4_layout.html.twig'  %}


{# {% block title %}Formulaire de connexion{% endblock %} #}

{% block body %}

{# formulaire version REACT
############

<div id="react-root"></div>

############# #}


<div>
    {# <h1>Connexion utilisateur</h1> #}
    {# {{ form_start(connectionForm) }} #}

<form method="post" action="{{ path('form_login') }}">
    {{ form_end(connectionForm) }}


    {# <form method="post" action="{{ path('form_login') }}">
        Email <input type="text" name="_username">
        Password <input type="password" name="_password">
        <button type="submit">Se connecter</button>
    </form> #}


</div>
{% endblock %}
